.message {
	background-color: rgb(44, 44, 44);
	border-radius: 4px;
	border-color: rgb(56, 56, 56);
	border-width: 1px;
	border-style: solid;
	padding: 5px;
	margin-top: 5px;
	margin-bottom: 5px;
	display: block;
	width: max-content;
	max-width: 75%;
}

.oppost {
	padding: 10px;
	padding-left: 20px;
}

.messageHeader {
	color: rgb(135, 150, 173);
}

.messageBody {
	padding: 10px;
	padding-left: 15px;
}

.messageFooter {

}

.reply {
	margin-right: 5px;
}

.id {
	margin-right: 10px;
}

.date {
	margin-right: 10px;
}

.name {

}
