.message {
	background-color: rgb(44, 44, 44);
	border-radius: 4px;
	border-color: rgb(56, 56, 56);
	border-width: 1px;
	border-style: solid;
	padding: 5px;
	margin-top: 5px;
	margin-bottom: 5px;
	display: block;
	width: max-content;
	max-width: 75%;
}

.oppost {
	padding: 10px;
	padding-left: 20px;
}

.messageHeader {
	color: rgb(135, 150, 173);
}

.mediaContent {
	float: left;
}

.mediaWrap {
	width: 200px;
	height: 200px;
	line-height: 200px;
	margin-right: 20px;
	margin-bottom: 10px;
	background-color: black;
	float: left;
	text-align: center;
	border: dashed gray 1px;
}

.mediaWrap:hover {
    cursor: pointer;
}

.mediaImpl {
	max-width: 100%;
	max-height: 100%;
	vertical-align: middle;
}

.messageBody {
	padding: 10px;
	padding-left: 15px;
	overflow: auto;
}

.messageBodySpan {
	word-wrap: break-word;
}

.messageFooter {

}

.reply {
	margin-right: 5px;
}

.id {
	margin-right: 10px;
}

.date {
	margin-right: 10px;
}

.name {
	margin-right: 10px;
}

.tripcode {

}

.forceBreak {
	clear: both;
	float: left;
	display: block;
	position: relative;
}
